{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing - LisaPremium</title>
    <link rel="stylesheet" href="{% static 'css/pricing.css' %}">
</head>
<body>
    <header>
        <h1>Pricing Plans</h1>
    </header>

    <section class="pricing-plans">
        <div class="tool">
            <h2>Grammarly</h2>
            <div class="plan">
                <h3>Daily Plan</h3>
                <p>Access Grammarly for 24 hours.</p>
                <p>Price: Ksh 20</p>
                <a href="" class="purchase-button">Purchase</a> <!-- Add URL for payment page here -->
            </div>
            <div class="plan">
                <h3>Weekly Plan</h3>
                <p>Access Grammarly for 7 days.</p>
                <p>Price: Ksh 40</p>
                <a href="" class="purchase-button">Purchase</a> <!-- Add URL for payment page here -->
            </div>
            <div class="plan">
                <h3>Monthly Plan</h3>
                <p>Access Grammarly for 30 days.</p>
                <p>Price: Ksh 100</p>
                <a href="" class="purchase-button">Purchase</a> <!-- Add URL for payment page here -->
            </div>
        </div>

        <div class="tool">
            <h2>Turnitin</h2>
            <div class="plan">
                <h3>Daily Plan</h3>
                <p>Access Turnitin for 24 hours.</p>
                <p>Price: Ksh 50</p>
                <a href="" class="purchase-button">Purchase</a> <!-- Add URL for payment page here -->
            </div>
            <div class="plan">
                <h3>Weekly Plan</h3>
                <p>Access Turnitin for 7 days.</p>
                <p>Price: Ksh 100</p>
                <a href="" class="purchase-button">Purchase</a> <!-- Add URL for payment page here -->
            </div>
            <div class="plan">
                <h3>Monthly Plan</h3>
                <p>Access Turnitin for 30 days.</p>
                <p>Price: Ksh 250</p>
                <a href="" class="purchase-button">Purchase</a> <!-- Add URL for payment page here -->
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 LisaPremium - All rights reserved.</p>
    </footer>
</body>
</html>
